extends layout

block content
  h1 Welcome to #{title}
  p This is the #{title}

  each post in posts
    h2= post.userId.username
    h3
      a(href=`/posts/${post._id}`) #{post._id}
    p= post.content
    p= post.createdAt
